table {
    width: 100%;
}

th {
    height: 50px;
    color: rgb(6, 4, 4);
    background: #e6caca;
    border: solid 0,5px white;
}

.green {
    background: rgb(60, 227, 60);
}

td {
    height: 100px;
    text-align: center;
    color: rgb(247, 247, 252);
    background: #3d21ef;
    border: px solid white;
}
.pink{
    background: #ef23bc;
}
.pink1{
    background: #a00791;
}
.greenn{
    background: #148d8dd7;
}
.orange{
    background: rgb(202, 154, 33);
}
.blue{
    background: #0f5ee6;
}
.green1{
       background: rgb(60, 227, 60);
}
.pink2{
    background: #a00791;
}

